
.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
   
}


.languages li{
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;

}

.languages li::before{
    display: inline-block;
    margin-right: .5rem ;
    width: .8rem;
    height: .6rem;
    content: ' ';
    background-image: url(../img/icons/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}